In [1]:
#Importar librerias

import pandas as pd
import numpy as np
import os
import glob2
import pymssql
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
ruta_completa = os.getcwd()
ruta_completa = ruta_completa + '\data'

list_data = []

for dirpath, dirnames, filenames in os.walk(ruta_completa):
    csv_files = glob2.glob(dirpath + '\*.csv')
    for filename in csv_files:
        data = pd.read_csv(filename)
        data = data[['Duration', 'MovementDuration', 'MovementInteractions', 'HardwareInteractions','Key', 'Date']]
        list_data.append(data)

df = pd.concat(list_data,ignore_index=True)
df

,Duration,MovementDuration,MovementInteractions,HardwareInteractions,Key,Date
0,22,20,1,0,02a5d1c69f5d44cfa9d2a256e62725a7,2020-07-31T08:37:36.4490-0500
1,15,0,0,0,02a5d1c69f5d44cfa9d2a256e62725a7,2020-07-31T08:39:34.0869-0500
2,22,9,1,0,02a5d1c69f5d44cfa9d2a256e62725a7,2020-07-31T08:41:38.1739-0500
3,15,0,1,0,02a5d1c69f5d44cfa9d2a256e62725a7,2020-07-31T08:53:33.8200-0500
4,15,0,0,0,02a5d1c69f5d44cfa9d2a256e62725a7,2020-07-31T08:55:20.5970-0500
...,...,...,...,...,...,...
96027,24,15,2,0,66b8bedb0e554a6bb58ed73e323e3b28,2020-09-28T18:53:10.4680-0400
96028,16,3,1,0,66b8bedb0e554a6bb58ed73e323e3b28,2020-09-28T19:26:46.7760-0400
96029,25,13,1,0,66b8bedb0e554a6bb58ed73e323e3b28,2020-09-28T20:13:59.2720-0400
96030,21,9,1,0,66b8bedb0e554a6bb58ed73e323e3b28,2020-09-28T20:14:36.1140-0400
96031,20,8,1,0,66b8bedb0e554a6bb58ed73e323e3b28,2020-09-28T20:16:31.5890-0400

In [3]:
df.describe()

,Duration,MovementDuration,MovementInteractions,HardwareInteractions
count,96032.000000,96032.000000,96032.000000,96032.0
mean,198.850362,142.098353,1.342990,0.0
std,3982.561445,3654.373332,12.820468,0.0
min,0.000000,0.000000,0.000000,0.0
25%,9.000000,0.000000,0.000000,0.0
50%,15.000000,0.000000,0.000000,0.0
75%,21.000000,5.000000,1.000000,0.0
max,446732.000000,446716.000000,1620.000000,0.0

**Existe un error en la toma de datos para la variable de HardwareInteractions, debido a que presenta todos sus datos en 0.**


**Existen valores atipicos en Duration, MovementDuration y MovementInteractions, es decir, estas ollas pueden estar presentando error en la lectura de datos.**

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96032 entries, 0 to 96031
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Duration              96032 non-null  int64
 1   MovementDuration      96032 non-null  int64
 2   MovementInteractions  96032 non-null  int64
 3   HardwareInteractions  96032 non-null  int64
 4   Key                   96032 non-null  object
 5   Date                  96032 non-null  object
dtypes: int64(4), object(2)
memory usage: 4.4+ MB

In [6]:
# Conexión bases de datos

server_tekus = "proyectos.tekus.co"
port_tekus = "1433"
user_tekus = "datatest"
password_tekus = "9cUQ*48AAX8Q"
data_base_tekus = "DataTest"

conn = pymssql.connect(server = server_tekus, user = user_tekus, password = password_tekus, port = port_tekus, database = data_base_tekus)

In [7]:
cursor_cities = conn.cursor()
cursor_cities.execute("SELECT * FROM Cities")
cities = cursor_cities.fetchall()
print(cities)

[(41, 'Bogotá'), (42, 'Cali'), (54, 'Rio de Janeiro'), (59, 'Barranquilla'), (81, 'Bosa'), (82, 'Cartagena'), (90, 'Bello'), (92, 'Girardota'), (225, 'NY'), (226, 'Ciudad de Panamá'), (231, 'Roma'), (237, 'Medellín'), (266, 'Madrid'), (289, 'Londres'), (290, 'Armenia'), (309, 'San Francisco'), (312, 'Murillo'), (313, 'Springfield'), (316, 'Nuquí'), (317, 'Montería'), (336, 'Rio de la plata'), (357, 'Cúcuta'), (358, 'Cusco'), (366, 'Pasto'), (367, 'San Andrés'), (457, 'Montevideo'), (543, 'Islas Margarita'), (551, 'Itagüí'), (730, 'Envigado'), (741, 'Pereira'), (916, 'Lima')]

In [8]:
cursor_pots = conn.cursor()
cursor_pots.execute("SELECT * FROM Pots")
pots = cursor_pots.fetchall()
print(pots)

[('02a5d1c69f5d44cfa9d2a256e62725a7', 'NOSEPEGA3000-04501', 312), ('053b8b9d38d14f0097a16ff3f2df98fa', 'NOSEPEGA3000-06267', 309), ('070fce8dd1b0443cafbbad0eccba462e', 'NOSEPEGA3000-08983', 336), ('089e9a21a113498dbcd1274ca31d9314', 'NOSEPEGA3000-08606', 92), ('096c10aac4214c11a67e10473671a3ca', 'NOSEPEGA3000-02158', 367), ('09c4d9955cd24c0e97c19a765af8b014', 'NOSEPEGA3000-03806', 289), ('0b599185f3b14688a5817d9464f90366', 'NOSEPEGA3000-07467', 237), ('115c61b3012b41e78814f61ad72bbb15', 'NOSEPEGA3000-04423', 316), ('11ccd89d25d14680b4d74cadf92c1c00', 'NOSEPEGA3000-04843', 741), ('139b85b77ec94577864eb7a6ccb61cdf', 'NOSEPEGA3000-00614', 226), ('13ebee2247fd427b809676163e4c6590', 'NOSEPEGA3000-03967', 313), ('18aa24fd3e3b4006aa5ebdd0a7400704', 'NOSEPEGA3000-07775', 225), ('1a4564e4e05d452996962259bb7cbf90', 'NOSEPEGA3000-09422', 357), ('1da79dc062a1498786b5ed172362a7fc', 'NOSEPEGA3000-05188', 226), ('1e8656f6b89c4f19bd47cb8bef23b4fa', 'NOSEPEGA3000-05490', 231), ('1e9bf02e0c0c48438f1019717734232f', 'NOSEPEGA3000-03664', 82), ('246983454b2d4f3081e713e524b272db', 'NOSEPEGA3000-01380', 730), ('2771d4adc72b40348aa70131a605dd15', 'NOSEPEGA3000-02811', 90), ('29b6ee7caa4e409eb35ab50cf763028e', 'NOSEPEGA3000-02441', 59), ('2a8871b1fc3b4bb0a350263e6828086d', 'NOSEPEGA3000-09404', 312), ('2a972757e72e42418a74789b4f56c180', 'NOSEPEGA3000-09431', 266), ('2c241909eb624792ad0226844a899c12', 'NOSEPEGA3000-04614', 317), ('2d8591c8a73840d692d1aaceb8f7e016', 'NOSEPEGA3000-01356', 237), ('2f8ec18d8a764803b73ec9cf13d661a9', 'NOSEPEGA3000-01772', 316), ('2fcb06120c8a47c49a45d7295aab342d', 'NOSEPEGA3000-01796', 41), ('318c42f457ab4fd291123fd53c06f8fc', 'NOSEPEGA3000-04972', 237), ('3196ec1df9384ad08a00abcd1bc01a97', 'NOSEPEGA3000-03799', 82), ('31c0afa988c441c29c5c936ae985d86f', 'NOSEPEGA3000-08724', 551), ('35fcdb980fa94f60880cac89f946ba37', 'NOSEPEGA3000-09267', 358), ('381801b4d38c4ab3861b37db0345307f', 'NOSEPEGA3000-04805', 367), ('3c00ba4764ae4a4da4fe882f59ab23ba', 'NOSEPEGA3000-07065', 225), ('3deadebd599248bba29641f4a89fabb4', 'NOSEPEGA3000-05763', 81), ('3f8a3d650fff425e8a85c42a6c6c9ec4', 'NOSEPEGA3000-04901', 237), ('47bbe8d2878345788ccbd863c2d02df8', 'NOSEPEGA3000-00894', 90), ('49a2b6d7021f48d2aa6b8c56c9e2471d', 'NOSEPEGA3000-08591', 457), ('4b90ed89a1e148b59799ed7626968daf', 'NOSEPEGA3000-04297', 90), ('4f1f7ce0016c4c98b2e39bfc193b6794', 'NOSEPEGA3000-06604', 42), ('5f218f65be104f2f88dbb16851ea061c', 'NOSEPEGA3000-02798', 59), ('628ded2887a64a9b8f0d53865c70e090', 'NOSEPEGA3000-01559', 290), ('632405e8e31846ec8169fb227f37118b', 'NOSEPEGA3000-02946', 366), ('66b8bedb0e554a6bb58ed73e323e3b28', 'NOSEPEGA3000-08132', 54)]

In [9]:
pots = pd.DataFrame(pots, columns = ['Key', 'Serial', 'CityId'])
pots

                                 Key              Serial  CityId
0   02a5d1c69f5d44cfa9d2a256e62725a7  NOSEPEGA3000-04501     312
1   053b8b9d38d14f0097a16ff3f2df98fa  NOSEPEGA3000-06267     309
2   070fce8dd1b0443cafbbad0eccba462e  NOSEPEGA3000-08983     336
3   089e9a21a113498dbcd1274ca31d9314  NOSEPEGA3000-08606      92
4   096c10aac4214c11a67e10473671a3ca  NOSEPEGA3000-02158     367
5   09c4d9955cd24c0e97c19a765af8b014  NOSEPEGA3000-03806     289
6   0b599185f3b14688a5817d9464f90366  NOSEPEGA3000-07467     237
7   115c61b3012b41e78814f61ad72bbb15  NOSEPEGA3000-04423     316
8   11ccd89d25d14680b4d74cadf92c1c00  NOSEPEGA3000-04843     741
9   139b85b77ec94577864eb7a6ccb61cdf  NOSEPEGA3000-00614     226
10  13ebee2247fd427b809676163e4c6590  NOSEPEGA3000-03967     313
11  18aa24fd3e3b4006aa5ebdd0a7400704  NOSEPEGA3000-07775     225
12  1a4564e4e05d452996962259bb7cbf90  NOSEPEGA3000-09422     357
13  1da79dc062a1498786b5ed172362a7fc  NOSEPEGA3000-05188     226
14  1e8656f6b89c4f19bd47cb8bef23b4fa  NOSEPEGA3000-05490     231
15  1e9bf02e0c0c48438f1019717734232f  NOSEPEGA3000-03664      82
16  246983454b2d4f3081e713e524b272db  NOSEPEGA3000-01380     730
17  2771d4adc72b40348aa70131a605dd15  NOSEPEGA3000-02811      90
18  29b6ee7caa4e409eb35ab50cf763028e  NOSEPEGA3000-02441      59
19  2a8871b1fc3b4bb0a350263e6828086d  NOSEPEGA3000-09404     312
20  2a972757e72e42418a74789b4f56c180  NOSEPEGA3000-09431     266
21  2c241909eb624792ad0226844a899c12  NOSEPEGA3000-04614     317
22  2d8591c8a73840d692d1aaceb8f7e016  NOSEPEGA3000-01356     237
23  2f8ec18d8a764803b73ec9cf13d661a9  NOSEPEGA3000-01772     316
24  2fcb06120c8a47c49a45d7295aab342d  NOSEPEGA3000-01796      41
25  318c42f457ab4fd291123fd53c06f8fc  NOSEPEGA3000-04972     237
26  3196ec1df9384ad08a00abcd1bc01a97  NOSEPEGA3000-03799      82
27  31c0afa988c441c29c5c936ae985d86f  NOSEPEGA3000-08724     551
28  35fcdb980fa94f60880cac89f946ba37  NOSEPEGA3000-09267     358
29  381801b4d38c4ab3861b37db0345307f  NOSEPEGA3000-04805     367
30  3c00ba4764ae4a4da4fe882f59ab23ba  NOSEPEGA3000-07065     225
31  3deadebd599248bba29641f4a89fabb4  NOSEPEGA3000-05763      81
32  3f8a3d650fff425e8a85c42a6c6c9ec4  NOSEPEGA3000-04901     237
33  47bbe8d2878345788ccbd863c2d02df8  NOSEPEGA3000-00894      90
34  49a2b6d7021f48d2aa6b8c56c9e2471d  NOSEPEGA3000-08591     457
35  4b90ed89a1e148b59799ed7626968daf  NOSEPEGA3000-04297      90
36  4f1f7ce0016c4c98b2e39bfc193b6794  NOSEPEGA3000-06604      42
37  5f218f65be104f2f88dbb16851ea061c  NOSEPEGA3000-02798      59
38  628ded2887a64a9b8f0d53865c70e090  NOSEPEGA3000-01559     290
39  632405e8e31846ec8169fb227f37118b  NOSEPEGA3000-02946     366
40  66b8bedb0e554a6bb58ed73e323e3b28  NOSEPEGA3000-08132      54

In [10]:
cities = pd.DataFrame(cities, columns = ['CityId', 'Name'])
cities

    CityId              Name
0       41            Bogotá
1       42              Cali
2       54    Rio de Janeiro
3       59      Barranquilla
4       81              Bosa
5       82         Cartagena
6       90             Bello
7       92         Girardota
8      225                NY
9      226  Ciudad de Panamá
10     231              Roma
11     237          Medellín
12     266            Madrid
13     289           Londres
14     290           Armenia
15     309     San Francisco
16     312           Murillo
17     313       Springfield
18     316             Nuquí
19     317          Montería
20     336   Rio de la plata
21     357            Cúcuta
22     358             Cusco
23     366             Pasto
24     367        San Andrés
25     457        Montevideo
26     543   Islas Margarita
27     551            Itagüí
28     730          Envigado
29     741           Pereira
30     916              Lima

In [11]:
pots_cities = pots.merge(cities, on='CityId', how = 'inner')
pots_cities = pots_cities.drop(['Serial', 'CityId'], axis= 1)

In [12]:
pots_cities

                                 Key              Name
0   02a5d1c69f5d44cfa9d2a256e62725a7           Murillo
1   2a8871b1fc3b4bb0a350263e6828086d           Murillo
2   053b8b9d38d14f0097a16ff3f2df98fa     San Francisco
3   070fce8dd1b0443cafbbad0eccba462e   Rio de la plata
4   089e9a21a113498dbcd1274ca31d9314         Girardota
5   096c10aac4214c11a67e10473671a3ca        San Andrés
6   381801b4d38c4ab3861b37db0345307f        San Andrés
7   09c4d9955cd24c0e97c19a765af8b014           Londres
8   0b599185f3b14688a5817d9464f90366          Medellín
9   2d8591c8a73840d692d1aaceb8f7e016          Medellín
10  318c42f457ab4fd291123fd53c06f8fc          Medellín
11  3f8a3d650fff425e8a85c42a6c6c9ec4          Medellín
12  115c61b3012b41e78814f61ad72bbb15             Nuquí
13  2f8ec18d8a764803b73ec9cf13d661a9             Nuquí
14  11ccd89d25d14680b4d74cadf92c1c00           Pereira
15  139b85b77ec94577864eb7a6ccb61cdf  Ciudad de Panamá
16  1da79dc062a1498786b5ed172362a7fc  Ciudad de Panamá
17  13ebee2247fd427b809676163e4c6590       Springfield
18  18aa24fd3e3b4006aa5ebdd0a7400704                NY
19  3c00ba4764ae4a4da4fe882f59ab23ba                NY
20  1a4564e4e05d452996962259bb7cbf90            Cúcuta
21  1e8656f6b89c4f19bd47cb8bef23b4fa              Roma
22  1e9bf02e0c0c48438f1019717734232f         Cartagena
23  3196ec1df9384ad08a00abcd1bc01a97         Cartagena
24  246983454b2d4f3081e713e524b272db          Envigado
25  2771d4adc72b40348aa70131a605dd15             Bello
26  47bbe8d2878345788ccbd863c2d02df8             Bello
27  4b90ed89a1e148b59799ed7626968daf             Bello
28  29b6ee7caa4e409eb35ab50cf763028e      Barranquilla
29  5f218f65be104f2f88dbb16851ea061c      Barranquilla
30  2a972757e72e42418a74789b4f56c180            Madrid
31  2c241909eb624792ad0226844a899c12          Montería
32  2fcb06120c8a47c49a45d7295aab342d            Bogotá
33  31c0afa988c441c29c5c936ae985d86f            Itagüí
34  35fcdb980fa94f60880cac89f946ba37             Cusco
35  3deadebd599248bba29641f4a89fabb4              Bosa
36  49a2b6d7021f48d2aa6b8c56c9e2471d        Montevideo
37  4f1f7ce0016c4c98b2e39bfc193b6794              Cali
38  628ded2887a64a9b8f0d53865c70e090           Armenia
39  632405e8e31846ec8169fb227f37118b             Pasto
40  66b8bedb0e554a6bb58ed73e323e3b28    Rio de Janeiro

In [13]:
df_final = df.merge(pots_cities, how= 'inner', on='Key')
df_final

,Duration,MovementDuration,MovementInteractions,HardwareInteractions,Key,Date,Name
0,22,20,1,0,02a5d1c69f5d44cfa9d2a256e62725a7,2020-07-31T08:37:36.4490-0500,Murillo
1,15,0,0,0,02a5d1c69f5d44cfa9d2a256e62725a7,2020-07-31T08:39:34.0869-0500,Murillo
2,22,9,1,0,02a5d1c69f5d44cfa9d2a256e62725a7,2020-07-31T08:41:38.1739-0500,Murillo
3,15,0,1,0,02a5d1c69f5d44cfa9d2a256e62725a7,2020-07-31T08:53:33.8200-0500,Murillo
4,15,0,0,0,02a5d1c69f5d44cfa9d2a256e62725a7,2020-07-31T08:55:20.5970-0500,Murillo
...,...,...,...,...,...,...,...
96027,24,15,2,0,66b8bedb0e554a6bb58ed73e323e3b28,2020-09-28T18:53:10.4680-0400,Rio de Janeiro
96028,16,3,1,0,66b8bedb0e554a6bb58ed73e323e3b28,2020-09-28T19:26:46.7760-0400,Rio de Janeiro
96029,25,13,1,0,66b8bedb0e554a6bb58ed73e323e3b28,2020-09-28T20:13:59.2720-0400,Rio de Janeiro
96030,21,9,1,0,66b8bedb0e554a6bb58ed73e323e3b28,2020-09-28T20:14:36.1140-0400,Rio de Janeiro
96031,20,8,1,0,66b8bedb0e554a6bb58ed73e323e3b28,2020-09-28T20:16:31.5890-0400,Rio de Janeiro

In [19]:
df_final.to_csv('data/df.csv')

In [22]:
type(df_final)

pandas.core.frame.DataFrame

In [14]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96032 entries, 0 to 96031
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Duration              96032 non-null  int64
 1   MovementDuration      96032 non-null  int64
 2   MovementInteractions  96032 non-null  int64
 3   HardwareInteractions  96032 non-null  int64
 4   Key                   96032 non-null  object
 5   Date                  96032 non-null  object
 6   Name                  96032 non-null  object
dtypes: int64(4), object(3)
memory usage: 5.9+ MB

In [17]:
df_final['day_of_week'] = df_final['Date'].dt.day_name()
df_final['month'] = df_final['Date'].dt.month_name()
df_final['time'] = df_final['Date'].dt.time
df_final['hour'] = df_final['Date'].dt.hour
df_final

,Duration,MovementDuration,MovementInteractions,HardwareInteractions,Key,Date,Name,day_of_week,month,time,hour
0,22,20,1,0,02a5d1c69f5d44cfa9d2a256e62725a7,2020-07-31 13:37:36.449000+00:00,Murillo,Friday,July,13:37:36.449000,13
1,15,0,0,0,02a5d1c69f5d44cfa9d2a256e62725a7,2020-07-31 13:39:34.086900+00:00,Murillo,Friday,July,13:39:34.086900,13
2,22,9,1,0,02a5d1c69f5d44cfa9d2a256e62725a7,2020-07-31 13:41:38.173900+00:00,Murillo,Friday,July,13:41:38.173900,13
3,15,0,1,0,02a5d1c69f5d44cfa9d2a256e62725a7,2020-07-31 13:53:33.820000+00:00,Murillo,Friday,July,13:53:33.820000,13
4,15,0,0,0,02a5d1c69f5d44cfa9d2a256e62725a7,2020-07-31 13:55:20.597000+00:00,Murillo,Friday,July,13:55:20.597000,13
...,...,...,...,...,...,...,...,...,...,...,...
96027,24,15,2,0,66b8bedb0e554a6bb58ed73e323e3b28,2020-09-28 22:53:10.468000+00:00,Rio de Janeiro,Monday,September,22:53:10.468000,22
96028,16,3,1,0,66b8bedb0e554a6bb58ed73e323e3b28,2020-09-28 23:26:46.776000+00:00,Rio de Janeiro,Monday,September,23:26:46.776000,23
96029,25,13,1,0,66b8bedb0e554a6bb58ed73e323e3b28,2020-09-29 00:13:59.272000+00:00,Rio de Janeiro,Tuesday,September,00:13:59.272000,0
96030,21,9,1,0,66b8bedb0e554a6bb58ed73e323e3b28,2020-09-29 00:14:36.114000+00:00,Rio de Janeiro,Tuesday,September,00:14:36.114000,0
96031,20,8,1,0,66b8bedb0e554a6bb58ed73e323e3b28,2020-09-29 00:16:31.589000+00:00,Rio de Janeiro,Tuesday,September,00:16:31.589000,0

# Análisis exploratorio de los datos

In [ ]:
df_final.groupby('day_of_week')[]

In [57]:
df_final.groupby('Name')['MovementInteractions'].sum()

Name
Armenia              1359
Barranquilla         2098
Bello                4245
Bogotá               1535
Bosa                 1355
Cali                 3432
Cartagena           66631
Ciudad de Panamá     3062
Cusco                1116
Cúcuta               1554
Envigado              605
Girardota            1002
Itagüí                119
Londres              2513
Madrid                175
Medellín             6440
Montería             2922
Montevideo            687
Murillo              9693
NY                   1960
Nuquí                6316
Pasto                 422
Pereira              1129
Rio de Janeiro        655
Rio de la plata      3632
Roma                  673
San Andrés           1754
San Francisco         811
Springfield          1075
Name: MovementInteractions, dtype: int64

In [59]:
df_final.groupby('Name')['MovementInteractions'].count()

Name
Armenia              1009
Barranquilla         2118
Bello                5241
Bogotá               2055
Bosa                 2133
Cali                 5485
Cartagena            4322
Ciudad de Panamá     4155
Cusco                2495
Cúcuta               3221
Envigado             1407
Girardota            1329
Itagüí                734
Londres              5159
Madrid               1302
Medellín             7637
Montería             5200
Montevideo           1736
Murillo              6161
NY                   3470
Nuquí               11118
Pasto                1168
Pereira              1739
Rio de Janeiro       1309
Rio de la plata      6092
Roma                 2468
San Andrés           2963
San Francisco        1534
Springfield          1272
Name: MovementInteractions, dtype: int64

In [60]:
df_final.groupby('Key')['HardwareInteractions'].sum()

Key
02a5d1c69f5d44cfa9d2a256e62725a7    0
053b8b9d38d14f0097a16ff3f2df98fa    0
070fce8dd1b0443cafbbad0eccba462e    0
089e9a21a113498dbcd1274ca31d9314    0
096c10aac4214c11a67e10473671a3ca    0
09c4d9955cd24c0e97c19a765af8b014    0
0b599185f3b14688a5817d9464f90366    0
115c61b3012b41e78814f61ad72bbb15    0
11ccd89d25d14680b4d74cadf92c1c00    0
139b85b77ec94577864eb7a6ccb61cdf    0
13ebee2247fd427b809676163e4c6590    0
18aa24fd3e3b4006aa5ebdd0a7400704    0
1a4564e4e05d452996962259bb7cbf90    0
1da79dc062a1498786b5ed172362a7fc    0
1e8656f6b89c4f19bd47cb8bef23b4fa    0
1e9bf02e0c0c48438f1019717734232f    0
246983454b2d4f3081e713e524b272db    0
2771d4adc72b40348aa70131a605dd15    0
29b6ee7caa4e409eb35ab50cf763028e    0
2a8871b1fc3b4bb0a350263e6828086d    0
2a972757e72e42418a74789b4f56c180    0
2c241909eb624792ad0226844a899c12    0
2d8591c8a73840d692d1aaceb8f7e016    0
2f8ec18d8a764803b73ec9cf13d661a9    0
2fcb06120c8a47c49a45d7295aab342d    0
318c42f457ab4fd291123fd53c06f8fc    0
3196ec1df9384ad08a00abcd1bc01a97    0
31c0afa988c441c29c5c936ae985d86f    0
35fcdb980fa94f60880cac89f946ba37    0
381801b4d38c4ab3861b37db0345307f    0
3c00ba4764ae4a4da4fe882f59ab23ba    0
3deadebd599248bba29641f4a89fabb4    0
3f8a3d650fff425e8a85c42a6c6c9ec4    0
47bbe8d2878345788ccbd863c2d02df8    0
49a2b6d7021f48d2aa6b8c56c9e2471d    0
4b90ed89a1e148b59799ed7626968daf    0
4f1f7ce0016c4c98b2e39bfc193b6794    0
5f218f65be104f2f88dbb16851ea061c    0
628ded2887a64a9b8f0d53865c70e090    0
632405e8e31846ec8169fb227f37118b    0
66b8bedb0e554a6bb58ed73e323e3b28    0
Name: HardwareInteractions, dtype: int64

In [61]:
df_final.groupby('Key')['HardwareInteractions'].count()

Key
02a5d1c69f5d44cfa9d2a256e62725a7    4073
053b8b9d38d14f0097a16ff3f2df98fa    1534
070fce8dd1b0443cafbbad0eccba462e    6092
089e9a21a113498dbcd1274ca31d9314    1329
096c10aac4214c11a67e10473671a3ca    1681
09c4d9955cd24c0e97c19a765af8b014    5159
0b599185f3b14688a5817d9464f90366    1215
115c61b3012b41e78814f61ad72bbb15    5345
11ccd89d25d14680b4d74cadf92c1c00    1739
139b85b77ec94577864eb7a6ccb61cdf    1989
13ebee2247fd427b809676163e4c6590    1272
18aa24fd3e3b4006aa5ebdd0a7400704    2319
1a4564e4e05d452996962259bb7cbf90    3221
1da79dc062a1498786b5ed172362a7fc    2166
1e8656f6b89c4f19bd47cb8bef23b4fa    2468
1e9bf02e0c0c48438f1019717734232f    3095
246983454b2d4f3081e713e524b272db    1407
2771d4adc72b40348aa70131a605dd15    2166
29b6ee7caa4e409eb35ab50cf763028e     384
2a8871b1fc3b4bb0a350263e6828086d    2088
2a972757e72e42418a74789b4f56c180    1302
2c241909eb624792ad0226844a899c12    5200
2d8591c8a73840d692d1aaceb8f7e016    3076
2f8ec18d8a764803b73ec9cf13d661a9    5773
2fcb06120c8a47c49a45d7295aab342d    2055
318c42f457ab4fd291123fd53c06f8fc    2337
3196ec1df9384ad08a00abcd1bc01a97    1227
31c0afa988c441c29c5c936ae985d86f     734
35fcdb980fa94f60880cac89f946ba37    2495
381801b4d38c4ab3861b37db0345307f    1282
3c00ba4764ae4a4da4fe882f59ab23ba    1151
3deadebd599248bba29641f4a89fabb4    2133
3f8a3d650fff425e8a85c42a6c6c9ec4    1009
47bbe8d2878345788ccbd863c2d02df8    1618
49a2b6d7021f48d2aa6b8c56c9e2471d    1736
4b90ed89a1e148b59799ed7626968daf    1457
4f1f7ce0016c4c98b2e39bfc193b6794    5485
5f218f65be104f2f88dbb16851ea061c    1734
628ded2887a64a9b8f0d53865c70e090    1009
632405e8e31846ec8169fb227f37118b    1168
66b8bedb0e554a6bb58ed73e323e3b28    1309
Name: HardwareInteractions, dtype: int64